@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: hsl(0, 0%, 53.3%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: hsl(0, 0%, 53.3%);
  }
}

body {
  background-color: #0f0f0f;
  color: #d4d4d4;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/noise.png');
  background-repeat: repeat;
  background-size: 80px;
  opacity: 0.15;
  pointer-events: none;
  z-index: 0;
}

.bg-dotted {
  background-image: radial-gradient(circle at 2px 2px, #232323 1px, transparent 0);
  background-size: 2.5px 2.5px;
}